   /*small devices */
@media only screen and (max-width: 600px) {
}
  /* portrait tablets and large phones */
@media only screen and (min-width: 600px) {
} 
  /* Medium devices */
@media only screen and (min-width: 768px) {
} 
  /* Large devices */
@media only screen and (min-width: 992px) {
}  
  /* Extra large devices */
@media only screen and (min-width: 1200px) {
}

#head{
    background-image:url(../Images/h_img.jpg);
    height: 800px;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
h1{
    font-family: 'Roboto Condensed', sans-serif;
}
#p{
    font-size: 10px;

}
#about{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
#dive{
    background-image:url(../Images/c_image.jpg);
    height: 450px;
    background-size: cover;
}
#seri{
    background-image:url(../Images/s_image.jpg);
    height: 350px;
    background-size: cover;
}
.service{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}
h2{
    text-align: center;
}
.h2{
    color: white;
    text-align: center;
}
#row{
    text-align: center;
}
.ole{
    text-align: center;
}
.ola{
    text-align: center;
    display: none;
}
.imag{
    margin-bottom: 18px;
    height: 200px;
    width: 280px;
    position: relative;
}
/*Start images hover*/
.imaje1 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
.imaje2 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
.imaje3 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
.imaje4 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
.imaje5 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
.imaje6 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
.imaje7 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
.imaje8 {
    border: 5px solid white ;
    position: absolute;
    bottom: 7px;
    margin-left: 7px;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    height: 170px;
    width: 250px;
    text-align: center;
}
/*end images hover*/
::placeholder {
    color: white;
}
#social {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 11px;
}